<footer id="footer">

  <div class="footer-light bg-lighter py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-center"><p class="text-primary my-1 lead text-uppercase">Question?</p></div>
        <div class="col-md-4 text-center"><p class="text-primary my-1 lead text-uppercase"><i class="fa fa-phone mr-2"></i> +91 7406132221</p></div>
        <div class="col-md-4 text-center"><p class="text-primary my-1 lead"><i class="fa fa-envelope mr-2"></i>info@flipcoininvestment.com</p></div>
      </div>
    </div>
  </div>
  
  <div class="footer-dark bg-primary pt-5 pb-1 text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h5 class="text-white text-uppercase">Browse</h5>
          <ul class="list-unstyled">
            <li><a href="{{ path_for('home') }}">Home</a></li>
            <li><a href="{{ path_for('about') }}">About</a></li>
            <li><a href="/blog" target="_blank">Blog</a></li>
            <li><a href="{{ path_for('contact') }}">Contact</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h5 class="text-white text-uppercase">Products &amp; services</h5>
          <ul class="list-unstyled">
            <li><a href="{{ path_for('services') }}">Wealth Management</a></li>
            <li><a href="{{ path_for('services') }}">Porfolio Management</a></li>
            <li><a href="{{ path_for('services') }}">Financial Planning</a></li>
            <li><a href="{{ path_for('services') }}">Tax Planning</a></li>
            <li><a href="{{ path_for('services') }}">Stock Trading</a></li>
          </ul>
        </div>
        
        <div class="col-md-3">
          <h5 class="text-white text-uppercase">Others</h5>
          <ul class="list-unstyled">
            <li><a href="{{ path_for('mutual.fund') }}">Mutual Funds</a></li>
            <li><a href="{{ path_for('insurance') }}">Insurance</a></li>
            {# <li><a href="{{ path_for('finarc.institution') }}">Finarc Institute</a></li> #}
          </ul>
        </div>

        <div class="col-md-3">
          <h5 class="text-white text-uppercase">Follow us</h5>
          <ul class="nav justify-content-start">
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fa fa-facebook-square fa-1-4x"></i>
              </a>
            </li>

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="fa fa-linkedin-square fa-1-4x"></i>
              </a>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer-dark bg-primary pt-1 pb-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="text-white">&copy; FCI. All rights reserved</p>
        </div>
        <div class="col-md-6 text-right">
          <p class="text-white">Design &amp; Developed by <a href="www.idevia.in">iDevia</a></p>
        </div>
      </div>
    </div>
  </div>

</footer>